<div id="table-of-contents">
  <h2>Table of Contents</h2>

  <ul>
    <% book.book_components.published.ordered.each do |book_component| %>
      <% unless book_component.section_type == 'section' %>
        <li><%= "#{book_component.chapter_number}." if book_component.chapter_number.present? %>
                <%= link_to book_component.name, book_component %>
                <%= link_to( 'edit', edit_book_component_path(book_component), class: 'btn btn-default') if current_user && current_user.is_allowed_to?('write_books') %></li>
      <% else # no links for section headers %>
        <li class="section-type"><%= book_component.name %>
                <%= link_to( 'edit', edit_book_component_path(book_component), class: 'btn btn-default') if current_user && current_user.is_allowed_to?('write_books') %></li>
      <% end %>
    <% end %>
  </ul>
</div>
