<%= render 'metas', book_component: @book_component %>

<p id="internal-links"><%= link_to "<span class='glyphicon glyphicon-list'></span> table of contents".html_safe, "#table-of-contents", class: 'btn btn-default' %></p>
<h1><%= @book_component.name %></h1>

<p><%= raw @book_component.body %></p>

<%= render 'books/table_of_contents', book: @book_component.book %>
